@import "./../../../sass/config.scss";

.rok-navbar {
    padding: .3rem 1rem !important;
    align-items: center;
    font-family: $secondaryFont;

    a.nav-link {
        color: $primaryColor !important;
        border-bottom: 1px solid transparent;
        font-size: 0.9rem;
        display: inline-block;
        margin: 0 1.25em;
        padding: 10px 0 !important;
        height: 32px;
        &:hover {
            border-bottom: $dottedBorder;
        }
    }
    .dropdown-toggle::after {
        display: none;
        // content: " ";
    }
    label {
        padding: 10px 5px 10px 1.25em;
        font-size: 0.9rem;
        cursor: text;
    }
    .submit-icon {
        border: 0px !important;
        padding: 0;

        &:focus {
            outline: 0 !important;
            box-shadow: none;
        }
    }
}
