* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 0.875rem;
    color: lighten($primaryColor, 6.67);
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a {
        color: #333;
        &:focus, &:active, &:link, &:hover {
            text-decoration: none;
            outline: none;
            @include transition (0.5s, all, ease);
        }

        &:hover {
            color: #0397d3;
        }
    }

    P {
        margin-bottom: 0;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }

    ol {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }

    img {
        max-width: 100%;
        transition: all 0.3s ease-out 0s;
    }

    input, button {
        border: none;
        background-color: transparent;
    }

    input:focus, button:focus {
        outline: none;
    }
}