* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: $textSize;
    color: lighten($primaryColor, 6.67);
    font-family: $primaryFont;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a {
        color: $primaryColor;
        &:focus,
        &:active,
        &:link,
        &:hover {
            text-decoration: none;
            outline: none;
            @include transition(0.5s, all, ease);
        }

        &:hover {
            color: darken($primaryColor, 20);
        }
    }

    P {
        margin-bottom: 0;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }

    ol {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }

    img {
        max-width: 100%;
        transition: all 0.3s ease-out 0s;
    }

    input,
    button {
        border: none;
        background-color: transparent;
    }

    input:focus,
    button:focus {
        outline: none;
    }

    /*** Common Styling Guide ***/
    .App {
        width: 80%;
        margin: 0 auto;
    }
    .hyperlink-btn {
        color: $primaryColor;
        border-bottom: $dottedBorder;
        font-size: 0.8rem;
        letter-spacing: 1px;

        &:hover {
            color: darken($primaryColor, 20);
            background-color: $hoverBgColor;
        }
    }
    .btn-more {
        padding: 0.5em 3.25em;
        color: lighten($primaryColor, 6.67);
        font-size: 0.85rem;
        border-bottom: $dottedBorder;
        letter-spacing: 2px;

        &:hover {
            color: darken($primaryColor, 20);
            background-color: $hoverBgColor;
        }
    }
    .external-link {
        color: $externalLinkColor;
        font-size: 1.125rem;
    }
}
