/*
    Coustard Font
---------------------------------*/

@font-face {
    font-family: 'Coustard';
    src: url(./../../assets/fonts/Coustard-Regular.ttf);
}

/*
    Lora Font
---------------------------------*/

@font-face {
    font-family: 'Lora';
    src: url(./../../assets/fonts/Lora-Regular.ttf);
}