@import "./../../../sass/config.scss";

.post {
    margin-top: 60px;
    &--title {
        a {
            font-family: $secondaryFont;
            font-size: 1.9rem;
            padding: 3px 0px;
            color: $primaryColor;

            &:hover {
                color: darken($primaryColor, 20);
                background-color: $hoverBgColor;
            }
            &:focus {
                border-bottom: $dottedBorder;
            }
        }
    }
    &--text {
        text-align: left;
        line-height: 1.6;
        margin-bottom: 30px;
    }
}
