@import "./../../../sass/config.scss";

.meta-data {
    margin-top: 12px;
    margin-bottom: 28px;
    text-align: center;

    @include bigMobile {
        margin-top: 22px;
        margin-bottom: 38px;
        display: flex;
        justify-content: center;
    }

    .meta-key {
        color: $secondaryColor;
        margin: 0;
        font-size: 0.8rem;
        letter-spacing: 1px;

        &:first-child {
            margin-left: 5px;
        }

        a {
            margin: 0px 5px;
        }
    }
}
