/*
    Color
---------------------------------*/

$defaultColor: #FFF;
$primaryColor: #333;
$secondaryColor: #aaa;

$externalLinkColor: #CE6607;
$hoverBgColor: #f7f7f7;

$primaryBorderColor: #ccc;
$secondaryBorderColor: #ddd;
$borderBottom: 1px dotted $primaryBorderColor;

// lighten($primaryColor, 6.67) = #444;
// lighten($primaryColor, 20) = #666;
// darken($primaryColor, 20.00) = #000; // hoverColor

/*
    Font Family
---------------------------------*/

$primaryFont: 'Lora', Georgia, sans-serif;
$secondaryFont: 'Coustard', Georgia, sans-serif;


/*
    Font Size
---------------------------------*/

$titleSize: 1.625rem;
$bodySize: 0.875rem;

/*
    Z-Index
---------------------------------*/

$zIndexLow: 1050;
$zIndexMedium: 2050;
$zIndexHigh: 2500;



