/*
    Color
---------------------------------*/

$defaultColor: #FFF;
$bgColor: #F1F2F4;

$primaryColor: #333;
$secondaryColor: #0397d3;
$tertiaryColor: #666666;


/*
    Font Family
---------------------------------*/
$primaryFont: 'Lora', Georgia, sans-serif;
$secondaryFont: 'Coustard', Georgia, sans-serif;


/*
    Font Size
---------------------------------*/

$titleSize: 1.625rem;
$bodySize: 0.875rem;

/*
    Z-Index
---------------------------------*/

$zIndexLow: 1050;
$zIndexMedium: 2050;
$zIndexHigh: 2500;



