/*
    Color
---------------------------------*/

$defaultColor: #FFF;
$primaryColor: #333;
$secondaryColor: #aaa;

$externalLinkColor: #CE6607;
$hoverBgColor: #f7f7f7;

$primaryBorderColor: #ccc;
$secondaryBorderColor: #ddd;

$dottedBorder: 1px dotted $primaryBorderColor;
$solidBorder: 1px solid $primaryBorderColor;

/*
    Font Family
---------------------------------*/

$primaryFont: 'Lora', Georgia, sans-serif;
$secondaryFont: 'Coustard', Georgia, sans-serif;


/*
    Font Size
---------------------------------*/

$textSize: 1rem;

/*
    Z-Index
---------------------------------*/

$zIndexLow: 1050;
$zIndexMedium: 2050;
$zIndexHigh: 2500;



